@import url(https://fonts.googleapis.com/css?family=Lato:400,700,700italic,400italic);
html, body, #map_canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
	font-family: 'Lato', sans-serif; background:#F7F7F7;
}

.main_set{margin:30px auto; padding:30px; width:60%; border:1px solid #ccc; position:relative; background:#fff;}
.main_set h2{ text-align:center; color:#e54d66}
.main_set select{ width:100%; margin:0 auto; border:1px solid #d8d8d8; height: 40px; padding: 10px; margin-bottom:30px;}
.main_set textarea{ width:97%; margin:0 auto; border:1px solid #d8d8d8; padding:10px;margin-bottom:30px; color:#333; height:100px; margin:0;}
.main_set .button1{ background:#1bbc9b; padding:10px; border:none; width:100%; color:#fff; font-size:18px; margin:20px 0; cursor:pointer; border-bottom:6px solid #13866E;}
.main_set .button2{ background:#f70808; padding:10px; border:none; width:100%; color:#fef; font-size:18px; margin:20px 0; cursor:pointer; border-bottom:6px solid #4d3838;}
.main_set .button3{ background:#151fd6; padding:10px; border:none; width:100%; color:#ffe; font-size:18px; margin:20px 0; cursor:pointer; border-bottom:6px solid #31314f;}



.aler{background:#f6ec6a; margin:20px 0; padding:0 5px; text-transform:}
.aler span{ display:inline-block; vertical-align:middle;}
.aler span{ display:inline-block; vertical-align:middle; font-size:14px; color:#9d952a;}

.msg_dip{ margin:0 auto; border:1px solid #d8d8d8; padding:10px;margin-bottom:30px; color:#333;}
.msg_dip h2{ text-align:center; font-size:18px; color:#e54d66;}
.msg_dip span{ line-height:21px; font-size:14px;}


